/*
** Mobile First breakpoint helpers
*/

// Screen Sizes
$screen-small: 478px !default;
$screen-medium: 768px !default;
$screen-large: 991px !default;
$screen-xl: 1440px !default;

@mixin size($size) {
  @if $size == "small" {
    @media (min-width: $screen-small) {
      @content;
    }
  }
  @if $size == "medium" {
    @media (min-width: $screen-medium) {
      @content;
    }
  }
  @if $size == "large" {
    @media (min-width: $screen-large) {
      @content;
    }
  }
  @if $size == "xl" {
    @media (min-width: $screen-xl) {
      @content;
    }
  }
}
